body {
  background: hwb(182 57% 12%);
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  background: hsl(30, 17%, 91%);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.login-container h2, 
.login-container h3 {
  text-align: center;
  margin-bottom: 20px;
}

.login-container input[type="text"],
.login-container input[type="email"],
.login-container input[type="password"] {
  width: 94%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-container input[type="submit"] {
  width: 100%;
  padding: 10px;
  background: #1166c1;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.login-container input[type="submit"]:hover {
  background: #0056b3;
}

.login-container p {
  text-align: center;
  margin-top: 10px;
}

.login-logo {
  max-width: 200px;
  height: auto;
}

.opcion {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.opcion input[type="radio"] {
  margin-right: 8px;
  transform: scale(1.5); /* tamaño radio más grande */
}

.etiqueta {
  font-size: 18px;
  font-weight: bold;
}

form {
  text-align: left;
  margin-top: 20px;
}